html {
    position: relative;
    min-height: 100%;
}

body{
    background-image: url("../../site-web/photos/siteescalade.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

header{
    opacity: 92%;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}



h1 {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 3em;
    color : #050505;
}

h2{

    font-size: 2.5em;
}

#adresse{
    font-weight: bold;
}

.policetitre{
    font-family: 'Baloo Bhai 2', cursive;
    color : #ffffff;
    font-size: 3em;
}

.policeDetail{
    font-family: 'Roboto', sans-serif;
    color : #ffffff;
}

.couleurtexte{
    color : #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 0.90em;
}

.photo{
    width: 400px;
    height: 300px;
}

.pasPhoto{
    width:965px;
    height: 500px;
    max-height: 500px;
    min-height: 500px;
}

.container-fluid{
    z-index: 1;
    padding-top: 3.3%;
    padding-bottom: 6.5%;
}

.boutonRechercher{
    z-index: 1;
}

.photocarousel{
    opacity: 100%;
    height: 500px;
    min-height: 500px;
}

.carousel-inner img{
    width: auto;
    height: 500px;
    max-height: 500px;
    min-height: 500px;
}

.list-group{
    background-color: #9ef3c8;
}

.badge-success{
    background-color: rgba(66, 201, 116, 0.86);
}

.detail{
    margin-bottom: 25px;
}

.general{

    height: auto;
    margin: auto;
    width: 70%;
    min-width: 70%;
    background-color: rgba(33, 151, 147, 0.95);
}

/*footer*/
footer {
    position: fixed;
    bottom: 0px;
    overflow: hidden;
    height: 150px;
    max-height: 150px;
    width: 100%;
    z-index: 2;
    opacity: 95%;
}

#copyright{
    color: #46beff
}

#entreprise{
    color: #ffc158
}

#block-haut{
    background-color: #9ef3c8;
    /*height: 30px;*/
}

#block-bas{
    background-color: #bcf5d8;
    /*height: 70px;*/
}

.facebook{
    height: 30px;
    width: auto;
}

/*@media*/

@media screen and (max-width:991px){
    #block-bas{
        background-color: #bcf5d8;
        /*height: 100px;*/
    }
}

@media screen and (max-width:767px){
    #block-bas{
        background-color: #bcf5d8;
        /*height: 100px;*/
    }
}

@media screen and (max-width:576px){
    #block-bas{
        background-color: #bcf5d8;
        /*height: 100px;*/
    }

    .titre{
        display: inline-block;
    }
}