
header{
    opacity: 92%;
    margin-right: 0;

}

.nav-link{
    font-size: 1.3em;
}

#connecter{
    color: #e1eae6;
}
@media screen and (max-width:1066px) {
    .nav-link {
        font-size: 1.2em;

    }
}

@media screen and (max-width:1030px) {
    .nav-link {
        font-size: 1.1em;

    }
}

@media screen and (max-width:995px) {
    .nav-link {
        font-size: 1em;

    }
}